{% extends "template.html" %}

{% block content %}
<form class="m-1  bg-opacity-25  p-2"style="border-radius: 25px;", action="/novo" method="post">
    <div class="mb-3">
      <label for="gaveta" class="form-label">Gaveta</label>
      <input type="text" class="form-control" name="gaveta" placeholder="identificação da gaveta">
    </div>
    <div class="mb-3">
      <label for="tipo" class="form-label">Tipo</label>
      <input type="text" class="form-control" name="tipo" placeholder="tipo do componente ex: resistor, transistor, capacitor ">
    </div>
    <div class="mb-3">
        <label for="codigo" class="form-label">Codigo</label>
        <input type="text" class="form-control" name="codigo" placeholder="Codigo da peça ex: bc548, 10k, 100uf/50v">
      </div>
      <div class="mb-3">
        <label for="quantidade" class="form-label">quantidade</label>
        <input type="number" class="form-control" name="quantidade" placeholder="quantidade da peças">
      </div>
    
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>

{%endblock%}