
<!DOCTYPE html>
<html>
<head>
    <title>Editar Registro</title>
<link rel="stylesheet" href="/static/style_editar.css">
</head>
<body>
    <h1 style="text-align: center; margin-top: 50px;">Editar Registro</h1>
    <form action="/atualizar" method="post">
        <label for="gaveta">Gaveta:</label>
        <input type="text" name="gaveta" value="{{ registro[0] }}">
        <label for="nome">Tipo:</label>
        <input type="text" name="tipo" id="nome" value="{{ registro[1] }}">
        <label for="codigo">Codigo:</label>
        <input type="text" name="codigo" id="codigo" value="{{ registro[2] }}">
        <label for="quantidade">Quantidade:</label>
        <input type="number" name="quantidade" id="quantidade" value="{{ registro[3] }}">
        <label for="foto">Foto:</label>
        <div style="display: flex; align-items: center;">
            <input type="text" name="foto" id="foto" readonly style="flex-grow: 1;">
            <button type="button" onclick="document.getElementById('fileInput').click()">Escolher Foto</button>
            <input type="file" id="fileInput" style="display: none;" accept=".jpg, .jpeg, .png, .bmp, .webp" onchange="displayFileName()">
        </div>
        <input type="hidden" name="id" value="{{ registro[4] }}">
        <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
    <script>
        function displayFileName() {
            var input = document.getElementById('fileInput');
            var fileNameDisplay = document.getElementById('foto');
            fileNameDisplay.value = input.files[0].name;
        }
    </script>
</body>
</html>
