{% extends "template.html" %}


{% block content %}
<div class="container-fluid text-center p-3  opacity-5">
    <img src="../static/image/images.jpeg" class="img-fluid w-50" alt="..."><br>
    
    <p class="text-center" style="font-size: clamp(1em, 1em + 1vw, 2.5em);">
        Controle de estoque de <strong>componentes</strong> eletronicos!
    </p>
    <p class="text-center " style="font-size: clamp(1em, 1em + 1vw, 9px);" >

            <strong>EletronicaLJ </strong>especializada em consertos de tvs sons microondas etc..!
        </p>
    </div>
    
    
   
{%endblock%}