{% extends "template.html" %}

{% block content %}
<div class="container-fluid ">

    <table class="table pt-10 ">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for i in lista %}
        <tr>
            <td>Gavete : {{ i[0] }}</td>
            <td>Tipo : {{ i[1] }}</td>
            <td>Codigo : {{ i[2] }}</td>
            <td>quantidade : {{ i[3] }}</td>
        </tr>
        {%endfor%}
    </table>

</div>
{%endblock%}