<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EletronicaLj</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
</head>

<body class="bg-secondary bg-opacity-25">
    <div class="position-fixed w-100">
       
        {% block navbar %}


        <!-- inicio do navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">EletronicaLJ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/cadastrar">Novo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/lista">Listar</a>
                        </li>
                    </ul>
                    <form class="d-flex" action="/busca" method="post">
                        <input class="form-control me-2" type="search" placeholder="Componente" aria-label="Busca"
                            name="componente">
                        <button class="btn btn-outline-success" id="bb" type="submit">Busca</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- fim do navbar -->
        {%endblock%}
    </div><br><br>
    <div>
        {% block content %}

        {%endblock%}
    </div>
    <script src="../static/bootstrap.js"></script>

</body>

</html>